.sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}
.logo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 3rem;
    width: 3rem;
}
.logo span span{
    color: var(--orange);
}

/** menu */

.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    padding: 0 1rem;
}

.menuItem{
    display: flex;
    align-items: center;
    gap: 1rem;

}